/*Overall CSS Settings*/
* {
  font-family: sans-serif;
}
body {
  margin: 0 0 0 0;
}
/*Navbar*/
.navbar {
  background-color: gray;
  height: 50px;
  top: 0px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.navbar_title {
  margin-top: 0px;
  margin-left: 20px;
  padding-top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.navbar_title a {
  text-decoration: none;
}
.navbar_title a:visited {
  text-decoration: none;
  color: white;
}
.navbar_title a:hover {
  color: yellow;
}
/*Member Index*/
.index_container {
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.index_header {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}
.index_ranking_table {
  border-collapse:collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.index_ranking_table tr:nth-child(even) {
  border: 1px solid gray;
  background-color: gray;
}
.index_ranking_table tr:nth-child(odd) {
  border: 1px solid gray;
}
.index_ranking_table_headers {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.index_ranking_table_names {
  font-size: 14px;
  text-align: center;
}
.index_ranking_table_overall {
  font-size: 14px;
  text-align: center;
}
.index_ranking_table_levels {
  font-size: 14px;
  text-align: center;
}
.link_wrapper {
  margin-top: 20px;
  margin-left: 10%;
}
.link_new {
  font-size: 15px;
  font-weight: bold;
}
/*Member New*/
.member_form_wrapper {
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.overall_field {
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: bold;
}
.level_field {
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: bold;
}
.form_header {
  font-weight: bold;
  margin-bottom: 5px;
}
.submit_button {
  margin-top: 30px;
  font-size: 15px;
}
